body { 
  background: #000000; 
  color: #ffffff;
  font-size: 10vw;
}

.duration {
  padding: 0.2em;
  margin: 0.2em;
  text-align: center;
  font-size: 200%;
}

.gate {
  display: block;
}

.gate .gate-name {
  display: inline-block;
  width: 3em;
  margin: 0.2em;
}

.gate .gate-alive,
.gate .gate-dead,
.gate .gate-active,
.gate .gate-inactive {
  display: inline-block;
  text-indent: -9999em;
  white-space: nowrap;
  width: 1em;
  height: 1em;
  margin-left: 0.2em;
  border-radius: 0.5em;
}

.gate .gate-alive {
  background: #00ff00;
}

.gate .gate-dead {
  background: #ff0000;
}

.gate .gate-active {
  background: #00ffff;
}

.gate .gate-inactive {
  background: #333333;
}

.gate .gate-time {
  display: inline-block;
  white-space: nowrap;
  margin-left: 0.2em;
  width: 3em;
}

